* {
    margin: 0;
    padding: 0;
}

:root {
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --DarkBlue: hsl(212, 21%, 14%);
    --DarkGreyishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Font: 14px;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf")
}

@font-face {
    font-family: Fraunces;
    src: url("../fonts/Fraunces-VariableFont.ttf");
}

body {
    font-family: Montserrat;
    background-color: var(--Cream);
    font-size: var(--Font);
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 12px;
    width: 80%;
    box-sizing: border-box;
    background-color: var(--White);
    border-radius: 15px;
    overflow: hidden;
}

picture img{
    width: 100%;
}

picture {
    width: 50%;
}

.content {
    margin: 15px;
    padding-bottom: 15px;
}

.content h1 {
    font-family: Fraunces;
    padding-bottom: inherit;
}

.content p {
    padding-bottom: inherit;
}

#perfume {
    font-size: 0.7rem;
    padding-bottom: 10px;
}

.price {
    display: flex;
    gap: 20px;
}

.price h1 {
    color: var(--Darkcyan)
}

.price p {
    text-decoration: line-through;
    align-self: center;
}

button {
    margin-top: 20px;
    background: var(--Darkcyan);
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    border: none;
    font-size: var(--Font);
    color: var(--White);
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    
}